What is the Swift Poems Project?
%table.table
  %caption Status
  %thead
    %tr
      %th
      %th
  %tbody
    %tr
      %td Failed Jobs

    %tr
      %td Successful Jobs

%table.table
  %caption Encoding Jobs
  %thead
    %tr
      %th Request
  %tbody
    %tr
      %td message
